@font-face {
    font-family: ms-sans-serif;
    font-display: swap;
    src: url(ad7cea682bb510ac5f4a.otf);
}

body {
    color: white;
    background-color: rgb(1, 130, 129);
    font-family: 'ms-sans-serif', sans-serif;
    font-size: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}

h1 {
    color: yellow;
}

a {
    color: white;
    font-size: 20px;
}

label, p, pre {
    font-family: 'ms-sans-serif', sans-serif;
    font-size: 20px;
}

button {
    background-image: url(3c9a05421f338c6df22c.png);
    background-size: cover;
    font-family: 'ms-sans-serif', sans-serif;
    font-size: 17px;
}

select {
    background-image: url(3c9a05421f338c6df22c.png);
    background-size: cover;
    font-family: 'ms-sans-serif', sans-serif;
}

.gameCanvas {
    position: relative;
}

#title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 30px;
    color: white;
}

#header {
    font-size: 30px;
}
